.spacer{
	margin-top: 20px;
}


.blink {
	color:rgb(255, 0, 0); 
	animation: colorblink 1s infinite;
  }

  @keyframes colorblink { 
	0% { 
	}
	50% { color:rgb(73, 144, 226); } 
}  

input[type="range"] {
	position: relative;
	margin-left: 1em;
	width: 25%
}
input[type="range"]:after,
input[type="range"]:before {
	position: absolute;
	top: 1em;
	color: #aaa;
}
input[type="range"]:before {
	left:0em;
	content: attr(min);
}
input[type="range"]:after {
	right: 0em;
	content: attr(max);
}
.m1>*
{ margin-left: 50px;
	}
