<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Angular Demo</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	
	
var myApp= angular.module("AngularApp",[]); //declaration du module
	
myApp.controller("HelloController", function($scope){
$scope.txtname = ""; 

$scope.items = [{
  id: 1,
  label: 'degree',
  subItem: [{ name: 'processus',
             input1: [{ var1: 'text', desc: 'Input' },
                    { var1: 'text' , desc: 'voila'},
                    { var1: 'radio' , desc: ' rond' }] ,
             
            Type : [{var1 :'text' , desc :'text'},
                    {var1 : 'text' , desc : 'reference'},
                    {var1 : 'text' , desc :'Subproces'}] ,
             
             app : [{ var1: 'text', desc: 'application/json' } ,
                    { var1: 'text', desc: 'application/wkt' } ,
                    { var1: 'text', desc: 'application/gml-3.1.1' }
                   
                   
                   
                   ] ,
             
             
             
            },
            
  			
  			]
},
                
                
                
                {
  id: 2,
  label: 'geoserver',
  subItem: [{ name: 'JST:difference',
             data: [{ var1: 'text', desc: 'Input' },
                    { var1: 'text' , desc: 'how old are you'},
                    { var1: 'radio' , desc: ' rond' }] ,
             
            Type : [{var1 :'text' , desc :'text'},
                    {var1 : 'text' , desc : 'reference'},
                    {var1 : 'text' , desc :'Subproces'}] ,
             
             app : [{ var1: 'text', desc: 'application/json' } ,
                    { var1: 'text', desc: 'application/wkt' },
                    { var1: 'text', desc: 'application/gml-3.1.1' } , ] ,
                    
              input1: [{ var1: 'text', desc: 'a* - geometry ' },
                    { var1: 'text' , desc: 'First input geometry '},
                    ] ,
             
             input2: [{ var1: 'text', desc: 'b* - geometry ' },
                    { var1: 'text' , desc: 'Second input geometry '},
                    ] ,
                    
                    
                   
                   
                   
                   
             
             
             
            },
            
  			
  			]
}];

$scope.selected = null;
$scope.select = null;



});
	
</script>
  
</head>
<body ng-app="AngularApp">
<div ng-controller="HelloController">
<input type="text" ng-model = "txtname">
<p>Enter Text : {{txtname}}</p>
<p>
choose your service 
  
<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select><br>
  
	<div ng-if="selected">
element du service N: {{selected.id}} <select ng-options="i as i.name for i in selected.subItem " ng-model="select"></select><br>
<form ng-if="select"> 
 <div ng-repeat ="s in select.input1">
   {{s.desc}} </div>
  <select ng-options="i as i.desc for i in select.Type " ng-model="select1"></select> 
    <select ng-options="i as i.desc for i in select.app " ng-model="select2"></select><br><br>
  
  
   <div ng-repeat ="s in select.input2">
   {{s.desc}} </div>
  <select ng-options="i as i.desc for i in select.Type " ng-model="select3"></select> 
    <select ng-options="i as i.desc for i in select.app " ng-model="select4"></select><br><br>
  
  
  
	


	</div>

</form>
</div>
</p>
</div>
</body>
</html>